In [114]:
#importing pandas
import pandas as pd

#Reading The input
data_set = pd.read_excel(r"C:\Users\Dell\Downloads\Input_1 - Python Developer Intern - Task 2 - Datasets.xlsx")
data_set

,Name,id,Chapter Tag,Concept Test 1 - score,Concept Test 1 - time-taken (seconds),Concept Test 1 - answered,Concept Test 1- correct,Concept Test 1- wrong,Concept Test 1- skipped,Concept Test 2 - score,...,Full Chapter Test 1 - answered,Full Chapter Test 1- correct,Full Chapter Test 1- wrong,Full Chapter Test 1- skipped,Full Chapter Test 2 - score,Full Chapter Test 2 - time-taken (seconds),Full Chapter Test 2 - answered,Full Chapter Test 2- correct,Full Chapter Test 2- wrong,Full Chapter Test 2- skipped
0,Darshan,34,C8S11,4,118,4,4,0,1,1,...,10,6,4,0,6,397,10,6,4,0
1,Durga,35,C8S11,3,886,5,3,2,0,3,...,10,4,6,0,6,539,10,6,4,0
2,Idhaz,36,C8S11,5,112,5,5,0,0,3,...,10,4,6,0,8,583,10,8,2,0
3,Kishore,37,C8S11,1,29,3,1,2,2,-,...,10,4,6,0,0,37,9,0,9,1
4,Mano,38,C8S11,4,242,5,4,1,0,0,...,10,4,6,0,2,657,10,2,8,0
5,Nandha,39,C8S11,3,55,5,3,2,0,0,...,9,2,7,1,0,30,10,0,10,0
6,Nandhini,40,C8S11,5,120,5,5,0,0,3,...,10,7,3,0,5,691,10,5,5,0
7,Rubika,42,C8S11,2,138,5,2,3,0,0,...,10,7,3,0,5,280,10,5,5,0
8,Saila,43,C8S11,-,-,-,-,-,-,0,...,-,-,-,-,-,-,-,-,-,-
9,Shankar,44,C8S11,1,65,5,1,4,0,1,...,10,4,6,0,2,143,10,2,8,0
10,Tarun,45,C8S11,3,71,5,3,2,0,2,...,4,1,3,6,1,139,9,1,8,1
11,Thanis,46,C8S11,5,199,5,5,0,0,2,...,10,3,7,0,1,72,10,1,9,0
12,Vignesh,47,C8S11,3,115,5,3,2,0,2,...,10,4,6,0,-,-,-,-,-,-

In [115]:
test_names = ["Concept Test 1", "Concept Test 2", "Concept Test 3", "Concept Test 4", "Concept Test 5", "Full Chapter Test 1", "Full Chapter Test 2", "Topic Test 1", "Topic Test 2"]

#Creaing New Dataframe according to the output
empty_dataframe = pd.DataFrame()
empty_dataframe["Name"] = data_set["Name"]
empty_dataframe["username"] = data_set["id"]
empty_dataframe["Chapter Tag"] = data_set["Chapter Tag"]

#creating empty list for concat
data_set_list = []
for i in range(len(test_names)):
    test_data = empty_dataframe.copy()
    test_data["test_name"] = test_names[i]
    test_data["answered"] = data_set[test_names[i]+" - answered"]
    test_data["correct"] = data_set[test_names[i]+"- correct"]
    test_data["score"] = data_set[test_names[i]+" - score"]
    test_data["skipped"] = data_set[test_names[i]+"- skipped"]
    test_data["time-taken (seconds)"] = data_set[test_names[i]+" - time-taken (seconds)"]
    test_data["wrong"] = data_set[test_names[i]+"- wrong"]
    #storing all tests data into a list
    data_set_list.append(test_data)

#Combining all the tests data into one
new_data_set = pd.concat(data_set_list, ignore_index=True)
new_data_set

,Name,username,Chapter Tag,test_name,answered,correct,score,skipped,time-taken (seconds),wrong
0,Darshan,34,C8S11,Concept Test 1,4,4,4,1,118,0
1,Durga,35,C8S11,Concept Test 1,5,3,3,0,886,2
2,Idhaz,36,C8S11,Concept Test 1,5,5,5,0,112,0
3,Kishore,37,C8S11,Concept Test 1,3,1,1,2,29,2
4,Mano,38,C8S11,Concept Test 1,5,4,4,0,242,1
...,...,...,...,...,...,...,...,...,...,...
112,Saila,43,C8S11,Topic Test 2,-,-,-,-,-,-
113,Shankar,44,C8S11,Topic Test 2,10,5,5,0,131,5
114,Tarun,45,C8S11,Topic Test 2,9,4,4,1,134,5
115,Thanis,46,C8S11,Topic Test 2,10,8,8,0,202,2
116,Vignesh,47,C8S11,Topic Test 2,9,6,6,1,84,3

In [116]:
#Removing null values
new_data_set = new_data_set[new_data_set["answered"] != "-"]

#Sorting data based on username and test name
new_data_set = new_data_set.sort_values(by=["username", "test_name"], ignore_index=True)
new_data_set

,Name,username,Chapter Tag,test_name,answered,correct,score,skipped,time-taken (seconds),wrong
0,Darshan,34,C8S11,Concept Test 1,4,4,4,1,118,0
1,Darshan,34,C8S11,Concept Test 2,4,1,1,1,320,3
2,Darshan,34,C8S11,Concept Test 3,5,4,4,0,199,1
3,Darshan,34,C8S11,Concept Test 4,5,3,3,0,161,2
4,Darshan,34,C8S11,Concept Test 5,5,3,3,0,122,2
...,...,...,...,...,...,...,...,...,...,...
100,Vignesh,47,C8S11,Concept Test 4,5,2,2,0,127,3
101,Vignesh,47,C8S11,Concept Test 5,5,4,4,0,53,1
102,Vignesh,47,C8S11,Full Chapter Test 1,10,4,4,0,128,6
103,Vignesh,47,C8S11,Topic Test 1,10,3,3,0,214,7
104,Vignesh,47,C8S11,Topic Test 2,9,6,6,1,84,3